
main{
  background-image: url("img/yellowbackground.jpeg");
  background-repeat:no-repeat;
  background-size: 100%;
  background-size: cover;
}

footer{
  text-align: center;
  background-image: url("img/background-dark.jpeg");
  background-repeat:no-repeat;
  background-size: 100%;
  color: black;
  background-size: cover;
}

.border_redondo{
  border-radius: 15px;
  margin: 5px;
  padding: 10%;
}
 
[type="radio"]{
  margin: 5px;
}

.Contenedor{
  justify-content: column;
  align-items: center;
  font-size: 15px;
  text-align: left;
  padding: 15px;
  border: 10px;
}

.Menu-izq{
  color: black;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: left;
}

h2{
  font-family: 'Roboto', cursive;
  font-size: 50px;
  align-content: center;
  text-align: center;
  color: black;
}

#lista-ordenada{
  font-size: 25px;
  font-family: 'Roboto';
}
#Lista-noorder{
  font-size: 25px;
  font-family: 'Roboto';
}

.Parrafo_1{
  font-size: 20px;
  font-family: 'roboto';
  text-align: left;
}


.logo{
  margin: 10px;
  max-width: 250;
  max-height: 250;
}
  