
/*Cambio de modos Dark y White*/
  /* Dark-mode */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: black;
      color: white;
              }
    }
    /* Light-mode */
  @media (prefers-color-scheme: light) {
      body {
      background-color: white;
      color: black;
                }
      }

.border_redondo{
  border-radius: 15px;
  width: 200px;
}

.Contenedor{
  justify-content: column;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

.Menu-izq{
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
  text-align: left;
}

h2{
  font-family: 'Water Brush', cursive;
  font-size: 50px;
  align-content: center;
  text-align: center;
}

#lista-ordenada{
  font-size: 25px;
  font-family: 'Roboto';
}
#Lista-noorder{
  font-size: 25px;
  font-family: 'Roboto';
}
